.splash {
  @include background-image(url("../../imgs/splash.jpg"));
  background-size: 100% auto;
  height: calc(100% - 50px);
  text-align: center;

  h1 {
    margin-bottom: 5px;
    font-size: 2em;
  }

  p {
    padding-bottom: 20px;
    color: $medium-gray;
  }

  .sign-up {
    @extend .form;
    @include span-columns(8);
    @include shift(2);
    text-align: center;
    background-color: lighten($light-gray, 12%);
    border: 1px solid lighten($light-gray, 5%);
    border-radius: 5px;

    label {
      font-weight: 400;
      color: $medium-gray;
    }
  }


  .half {
    @include span-columns(6);
    padding-top: 30px;


    &.splash-content {
      height: 100%;
      padding-top: 30px;
      background-color: rgba(255, 255, 255, 0.9);
    }
    img.hula {
      margin-top: 30px;
      height: 500px;
      width: auto;
    }
  }

  @keyframes rise {
    from {
      opacity: 0;
      margin-top: 200px; }
    to {
      opacity: 1;
      margin-top: 30px; } }

  .rise {
    animation-name: rise;
    animation-duration: 1.5s; }
}